@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are students learning ASP.NET-Core you data will not be used for anything malicious, thank you for using our website.</p>
